# Compiled C extensions
*.pyd
*.so
*.dylib
*.dll

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
build/
dist/
*.egg-info/

# Logs
server.err
server.log
*.log

# Environment
.venv/
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
