name: Deploy Web to GitHub Pages

on:
  push:
    branches:
      - main
    paths:
      - 'web/static/**'

permissions:
  contents: write

jobs:
  deploy:
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: web/static
          branch: gh-pages
          single-commit: true 